{% extends "layout.html" %}
{%block main%}
 <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password" required><br>

            <input class="form-control confirm-password-input" name="password-confirm" placeholder=" Confirm password" type="password" required>
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{%endblock%}